ClientBorrower/Connected Services/ClientServerLibraryClient/ClientServerLibrary.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientServerLibrary" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IClient_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9001/ClientServerLibrary?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9001/ClientServerLibrary?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9001/ClientServerLibrary?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IRemoteWCF.Models" />
      <xsd:import schemaLocation="http://localhost:9001/ClientServerLibrary?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClient_getAllWorks_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllWorks" />
  </wsdl:message>
  <wsdl:message name="IClient_getAllWorks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllWorksResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_getById_InputMessage">
    <wsdl:part name="parameters" element="tns:getById" />
  </wsdl:message>
  <wsdl:message name="IClient_getById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_getByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:getByTitle" />
  </wsdl:message>
  <wsdl:message name="IClient_getByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_getByWriter_InputMessage">
    <wsdl:part name="parameters" element="tns:getByWriter" />
  </wsdl:message>
  <wsdl:message name="IClient_getByWriter_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByWriterResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_getByTags_InputMessage">
    <wsdl:part name="parameters" element="tns:getByTags" />
  </wsdl:message>
  <wsdl:message name="IClient_getByTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_getByTheme_InputMessage">
    <wsdl:part name="parameters" element="tns:getByTheme" />
  </wsdl:message>
  <wsdl:message name="IClient_getByTheme_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByThemeResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_reserveWork_InputMessage">
    <wsdl:part name="parameters" element="tns:reserveWork" />
  </wsdl:message>
  <wsdl:message name="IClient_reserveWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:reserveWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_addUserStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:addUserStudent" />
  </wsdl:message>
  <wsdl:message name="IClient_addUserStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_addUserTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:addUserTeacher" />
  </wsdl:message>
  <wsdl:message name="IClient_addUserTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_authenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:authenticateUser" />
  </wsdl:message>
  <wsdl:message name="IClient_authenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:authenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_getAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsers" />
  </wsdl:message>
  <wsdl:message name="IClient_getAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_getUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="IClient_getUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_getAllBorrowers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllBorrowers" />
  </wsdl:message>
  <wsdl:message name="IClient_getAllBorrowers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllBorrowersResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_getBorrower_InputMessage">
    <wsdl:part name="parameters" element="tns:getBorrower" />
  </wsdl:message>
  <wsdl:message name="IClient_getBorrower_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBorrowerResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_getAllStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllStudents" />
  </wsdl:message>
  <wsdl:message name="IClient_getAllStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_getStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:getStudent" />
  </wsdl:message>
  <wsdl:message name="IClient_getStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_getAllTeachers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllTeachers" />
  </wsdl:message>
  <wsdl:message name="IClient_getAllTeachers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllTeachersResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_getTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:getTeacher" />
  </wsdl:message>
  <wsdl:message name="IClient_getTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_modifyUserStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:modifyUserStudent" />
  </wsdl:message>
  <wsdl:message name="IClient_modifyUserStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:modifyUserStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_modifyUserTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:modifyUserTeacher" />
  </wsdl:message>
  <wsdl:message name="IClient_modifyUserTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:modifyUserTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IClient_signout_InputMessage">
    <wsdl:part name="parameters" element="tns:signout" />
  </wsdl:message>
  <wsdl:message name="IClient_signout_OutputMessage">
    <wsdl:part name="parameters" element="tns:signoutResponse" />
  </wsdl:message>
  <wsdl:portType name="IClient">
    <wsdl:operation name="getAllWorks">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/getAllWorks" message="tns:IClient_getAllWorks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/getAllWorksResponse" message="tns:IClient_getAllWorks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getById">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/getById" message="tns:IClient_getById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/getByIdResponse" message="tns:IClient_getById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/getByTitle" message="tns:IClient_getByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/getByTitleResponse" message="tns:IClient_getByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getByWriter">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/getByWriter" message="tns:IClient_getByWriter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/getByWriterResponse" message="tns:IClient_getByWriter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getByTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/getByTags" message="tns:IClient_getByTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/getByTagsResponse" message="tns:IClient_getByTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getByTheme">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/getByTheme" message="tns:IClient_getByTheme_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/getByThemeResponse" message="tns:IClient_getByTheme_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reserveWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/reserveWork" message="tns:IClient_reserveWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/reserveWorkResponse" message="tns:IClient_reserveWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUserStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/addUserStudent" message="tns:IClient_addUserStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/addUserStudentResponse" message="tns:IClient_addUserStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUserTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/addUserTeacher" message="tns:IClient_addUserTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/addUserTeacherResponse" message="tns:IClient_addUserTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="authenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/authenticateUser" message="tns:IClient_authenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/authenticateUserResponse" message="tns:IClient_authenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/getAllUsers" message="tns:IClient_getAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/getAllUsersResponse" message="tns:IClient_getAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/getUser" message="tns:IClient_getUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/getUserResponse" message="tns:IClient_getUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllBorrowers">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/getAllBorrowers" message="tns:IClient_getAllBorrowers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/getAllBorrowersResponse" message="tns:IClient_getAllBorrowers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBorrower">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/getBorrower" message="tns:IClient_getBorrower_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/getBorrowerResponse" message="tns:IClient_getBorrower_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/getAllStudents" message="tns:IClient_getAllStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/getAllStudentsResponse" message="tns:IClient_getAllStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/getStudent" message="tns:IClient_getStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/getStudentResponse" message="tns:IClient_getStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllTeachers">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/getAllTeachers" message="tns:IClient_getAllTeachers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/getAllTeachersResponse" message="tns:IClient_getAllTeachers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/getTeacher" message="tns:IClient_getTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/getTeacherResponse" message="tns:IClient_getTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifyUserStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/modifyUserStudent" message="tns:IClient_modifyUserStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/modifyUserStudentResponse" message="tns:IClient_modifyUserStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifyUserTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/modifyUserTeacher" message="tns:IClient_modifyUserTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/modifyUserTeacherResponse" message="tns:IClient_modifyUserTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="signout">
      <wsdl:input wsaw:Action="http://tempuri.org/IClient/signout" message="tns:IClient_signout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClient/signoutResponse" message="tns:IClient_signout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClient" type="tns:IClient">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllWorks">
      <soap:operation soapAction="http://tempuri.org/IClient/getAllWorks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getById">
      <soap:operation soapAction="http://tempuri.org/IClient/getById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByTitle">
      <soap:operation soapAction="http://tempuri.org/IClient/getByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByWriter">
      <soap:operation soapAction="http://tempuri.org/IClient/getByWriter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByTags">
      <soap:operation soapAction="http://tempuri.org/IClient/getByTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByTheme">
      <soap:operation soapAction="http://tempuri.org/IClient/getByTheme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserveWork">
      <soap:operation soapAction="http://tempuri.org/IClient/reserveWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserStudent">
      <soap:operation soapAction="http://tempuri.org/IClient/addUserStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserTeacher">
      <soap:operation soapAction="http://tempuri.org/IClient/addUserTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticateUser">
      <soap:operation soapAction="http://tempuri.org/IClient/authenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <soap:operation soapAction="http://tempuri.org/IClient/getAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/IClient/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllBorrowers">
      <soap:operation soapAction="http://tempuri.org/IClient/getAllBorrowers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBorrower">
      <soap:operation soapAction="http://tempuri.org/IClient/getBorrower" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStudents">
      <soap:operation soapAction="http://tempuri.org/IClient/getAllStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudent">
      <soap:operation soapAction="http://tempuri.org/IClient/getStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTeachers">
      <soap:operation soapAction="http://tempuri.org/IClient/getAllTeachers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeacher">
      <soap:operation soapAction="http://tempuri.org/IClient/getTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUserStudent">
      <soap:operation soapAction="http://tempuri.org/IClient/modifyUserStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUserTeacher">
      <soap:operation soapAction="http://tempuri.org/IClient/modifyUserTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="signout">
      <soap:operation soapAction="http://tempuri.org/IClient/signout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IClient" type="tns:IClient">
    <wsp:PolicyReference URI="#NetTcpBinding_IClient_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getAllWorks">
      <soap12:operation soapAction="http://tempuri.org/IClient/getAllWorks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getById">
      <soap12:operation soapAction="http://tempuri.org/IClient/getById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByTitle">
      <soap12:operation soapAction="http://tempuri.org/IClient/getByTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByWriter">
      <soap12:operation soapAction="http://tempuri.org/IClient/getByWriter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByTags">
      <soap12:operation soapAction="http://tempuri.org/IClient/getByTags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByTheme">
      <soap12:operation soapAction="http://tempuri.org/IClient/getByTheme" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserveWork">
      <soap12:operation soapAction="http://tempuri.org/IClient/reserveWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserStudent">
      <soap12:operation soapAction="http://tempuri.org/IClient/addUserStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserTeacher">
      <soap12:operation soapAction="http://tempuri.org/IClient/addUserTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticateUser">
      <soap12:operation soapAction="http://tempuri.org/IClient/authenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <soap12:operation soapAction="http://tempuri.org/IClient/getAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap12:operation soapAction="http://tempuri.org/IClient/getUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllBorrowers">
      <soap12:operation soapAction="http://tempuri.org/IClient/getAllBorrowers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBorrower">
      <soap12:operation soapAction="http://tempuri.org/IClient/getBorrower" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStudents">
      <soap12:operation soapAction="http://tempuri.org/IClient/getAllStudents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudent">
      <soap12:operation soapAction="http://tempuri.org/IClient/getStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTeachers">
      <soap12:operation soapAction="http://tempuri.org/IClient/getAllTeachers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeacher">
      <soap12:operation soapAction="http://tempuri.org/IClient/getTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUserStudent">
      <soap12:operation soapAction="http://tempuri.org/IClient/modifyUserStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUserTeacher">
      <soap12:operation soapAction="http://tempuri.org/IClient/modifyUserTeacher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="signout">
      <soap12:operation soapAction="http://tempuri.org/IClient/signout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientServerLibrary">
    <wsdl:port name="BasicHttpBinding_IClient" binding="tns:BasicHttpBinding_IClient">
      <soap:address location="http://localhost:9001/ClientServerLibrary" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IClient" binding="tns:NetTcpBinding_IClient">
      <soap12:address location="net.tcp://localhost:9002/ClientServerLibrary" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9002/ClientServerLibrary</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-THB1QHJ\houss</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>