ClientLibrarianWCF/Connected Services/ConsultWorksService/IRemoteWCF.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IRemoteWCF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IRemoteWCF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfWork">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Work" nillable="true" type="tns:Work" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWork" nillable="true" type="tns:ArrayOfWork" />
  <xs:complexType name="Work">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdWork" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tags" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Theme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Writers" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Work" nillable="true" type="tns:Work" />
</xs:schema>