ClientLibrarianWCF/Connected Services/ConsultWorksService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConsultWorks" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IConsultWorks_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/IRemoteWCF.Models" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConsultWorks_getAllWorks_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllWorks" />
  </wsdl:message>
  <wsdl:message name="IConsultWorks_getAllWorks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllWorksResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultWorks_getById_InputMessage">
    <wsdl:part name="parameters" element="tns:getById" />
  </wsdl:message>
  <wsdl:message name="IConsultWorks_getById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultWorks_getByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:getByTitle" />
  </wsdl:message>
  <wsdl:message name="IConsultWorks_getByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultWorks_getByWriter_InputMessage">
    <wsdl:part name="parameters" element="tns:getByWriter" />
  </wsdl:message>
  <wsdl:message name="IConsultWorks_getByWriter_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByWriterResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultWorks_getByTags_InputMessage">
    <wsdl:part name="parameters" element="tns:getByTags" />
  </wsdl:message>
  <wsdl:message name="IConsultWorks_getByTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultWorks_getByTheme_InputMessage">
    <wsdl:part name="parameters" element="tns:getByTheme" />
  </wsdl:message>
  <wsdl:message name="IConsultWorks_getByTheme_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByThemeResponse" />
  </wsdl:message>
  <wsdl:portType name="IConsultWorks">
    <wsdl:operation name="getAllWorks">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultWorks/getAllWorks" message="tns:IConsultWorks_getAllWorks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultWorks/getAllWorksResponse" message="tns:IConsultWorks_getAllWorks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getById">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultWorks/getById" message="tns:IConsultWorks_getById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultWorks/getByIdResponse" message="tns:IConsultWorks_getById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultWorks/getByTitle" message="tns:IConsultWorks_getByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultWorks/getByTitleResponse" message="tns:IConsultWorks_getByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getByWriter">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultWorks/getByWriter" message="tns:IConsultWorks_getByWriter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultWorks/getByWriterResponse" message="tns:IConsultWorks_getByWriter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getByTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultWorks/getByTags" message="tns:IConsultWorks_getByTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultWorks/getByTagsResponse" message="tns:IConsultWorks_getByTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getByTheme">
      <wsdl:input wsaw:Action="http://tempuri.org/IConsultWorks/getByTheme" message="tns:IConsultWorks_getByTheme_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConsultWorks/getByThemeResponse" message="tns:IConsultWorks_getByTheme_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConsultWorks" type="tns:IConsultWorks">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllWorks">
      <soap:operation soapAction="http://tempuri.org/IConsultWorks/getAllWorks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getById">
      <soap:operation soapAction="http://tempuri.org/IConsultWorks/getById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByTitle">
      <soap:operation soapAction="http://tempuri.org/IConsultWorks/getByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByWriter">
      <soap:operation soapAction="http://tempuri.org/IConsultWorks/getByWriter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByTags">
      <soap:operation soapAction="http://tempuri.org/IConsultWorks/getByTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByTheme">
      <soap:operation soapAction="http://tempuri.org/IConsultWorks/getByTheme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IConsultWorks" type="tns:IConsultWorks">
    <wsp:PolicyReference URI="#NetTcpBinding_IConsultWorks_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getAllWorks">
      <soap12:operation soapAction="http://tempuri.org/IConsultWorks/getAllWorks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getById">
      <soap12:operation soapAction="http://tempuri.org/IConsultWorks/getById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByTitle">
      <soap12:operation soapAction="http://tempuri.org/IConsultWorks/getByTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByWriter">
      <soap12:operation soapAction="http://tempuri.org/IConsultWorks/getByWriter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByTags">
      <soap12:operation soapAction="http://tempuri.org/IConsultWorks/getByTags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByTheme">
      <soap12:operation soapAction="http://tempuri.org/IConsultWorks/getByTheme" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultWorks">
    <wsdl:port name="BasicHttpBinding_IConsultWorks" binding="tns:BasicHttpBinding_IConsultWorks">
      <soap:address location="http://localhost:9001/ConsultWorks" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IConsultWorks" binding="tns:NetTcpBinding_IConsultWorks">
      <soap12:address location="net.tcp://localhost:9002/ConsultWorks" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9002/ConsultWorks</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-THB1QHJ\houss</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>