ClientLibrarianWCF/Connected Services/ConsultWorksService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/IRemoteWCF.Models" />
  <xs:element name="getAllWorks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllWorksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IRemoteWCF.Models" minOccurs="0" name="getAllWorksResult" nillable="true" type="q1:ArrayOfWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWork" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IRemoteWCF.Models" minOccurs="0" name="getByIdResult" nillable="true" type="q2:Work" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IRemoteWCF.Models" minOccurs="0" name="getByTitleResult" nillable="true" type="q3:ArrayOfWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByWriter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="writer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByWriterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IRemoteWCF.Models" minOccurs="0" name="getByWriterResult" nillable="true" type="q4:ArrayOfWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mot_cle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IRemoteWCF.Models" minOccurs="0" name="getByTagsResult" nillable="true" type="q5:ArrayOfWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByTheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="theme" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByThemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IRemoteWCF.Models" minOccurs="0" name="getByThemeResult" nillable="true" type="q6:ArrayOfWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>