ClientLibrarianWCF/Connected Services/ManageWorksService/ManageWorks.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManageWorks" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IManageWorks_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9001/ManageWorks?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9001/ManageWorks?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9001/ManageWorks?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManageWorks_AddWork_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWork" />
  </wsdl:message>
  <wsdl:message name="IManageWorks_AddWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IManageWorks_EditWork_InputMessage">
    <wsdl:part name="parameters" element="tns:EditWork" />
  </wsdl:message>
  <wsdl:message name="IManageWorks_EditWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IManageWorks_DeleteWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWork" />
  </wsdl:message>
  <wsdl:message name="IManageWorks_DeleteWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IManageWorks_ConfirmWork_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmWork" />
  </wsdl:message>
  <wsdl:message name="IManageWorks_ConfirmWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IManageWorks_returnWork_InputMessage">
    <wsdl:part name="parameters" element="tns:returnWork" />
  </wsdl:message>
  <wsdl:message name="IManageWorks_returnWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:returnWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IManageWorks_reserveWork_InputMessage">
    <wsdl:part name="parameters" element="tns:reserveWork" />
  </wsdl:message>
  <wsdl:message name="IManageWorks_reserveWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:reserveWorkResponse" />
  </wsdl:message>
  <wsdl:portType name="IManageWorks">
    <wsdl:operation name="AddWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageWorks/AddWork" message="tns:IManageWorks_AddWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageWorks/AddWorkResponse" message="tns:IManageWorks_AddWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageWorks/EditWork" message="tns:IManageWorks_EditWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageWorks/EditWorkResponse" message="tns:IManageWorks_EditWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageWorks/DeleteWork" message="tns:IManageWorks_DeleteWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageWorks/DeleteWorkResponse" message="tns:IManageWorks_DeleteWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageWorks/ConfirmWork" message="tns:IManageWorks_ConfirmWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageWorks/ConfirmWorkResponse" message="tns:IManageWorks_ConfirmWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="returnWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageWorks/returnWork" message="tns:IManageWorks_returnWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageWorks/returnWorkResponse" message="tns:IManageWorks_returnWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reserveWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IManageWorks/reserveWork" message="tns:IManageWorks_reserveWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManageWorks/reserveWorkResponse" message="tns:IManageWorks_reserveWork_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManageWorks" type="tns:IManageWorks">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddWork">
      <soap:operation soapAction="http://tempuri.org/IManageWorks/AddWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditWork">
      <soap:operation soapAction="http://tempuri.org/IManageWorks/EditWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWork">
      <soap:operation soapAction="http://tempuri.org/IManageWorks/DeleteWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmWork">
      <soap:operation soapAction="http://tempuri.org/IManageWorks/ConfirmWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnWork">
      <soap:operation soapAction="http://tempuri.org/IManageWorks/returnWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserveWork">
      <soap:operation soapAction="http://tempuri.org/IManageWorks/reserveWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IManageWorks" type="tns:IManageWorks">
    <wsp:PolicyReference URI="#NetTcpBinding_IManageWorks_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddWork">
      <soap12:operation soapAction="http://tempuri.org/IManageWorks/AddWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditWork">
      <soap12:operation soapAction="http://tempuri.org/IManageWorks/EditWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWork">
      <soap12:operation soapAction="http://tempuri.org/IManageWorks/DeleteWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmWork">
      <soap12:operation soapAction="http://tempuri.org/IManageWorks/ConfirmWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnWork">
      <soap12:operation soapAction="http://tempuri.org/IManageWorks/returnWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reserveWork">
      <soap12:operation soapAction="http://tempuri.org/IManageWorks/reserveWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManageWorks">
    <wsdl:port name="BasicHttpBinding_IManageWorks" binding="tns:BasicHttpBinding_IManageWorks">
      <soap:address location="http://localhost:9001/ManageWorks" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IManageWorks" binding="tns:NetTcpBinding_IManageWorks">
      <soap12:address location="net.tcp://localhost:9002/ManageWorks" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9002/ManageWorks</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-THB1QHJ\houss</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>