ClientLibrarianWCF/Connected Services/ManageWorksService/ManageWorks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/ManageWorks?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" nillable="true" type="q1:ArrayOfstring" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="writers" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="theme" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWorkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWork" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" nillable="true" type="q3:ArrayOfstring" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="writers" nillable="true" type="q4:ArrayOfstring" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="theme" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditWorkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWork" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWorkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWork" type="xs:int" />
        <xs:element minOccurs="0" name="idBorrower" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmWorkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWork" type="xs:int" />
        <xs:element minOccurs="0" name="idBorrower" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnWorkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reserveWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
        <xs:element minOccurs="0" name="idWork" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reserveWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reserveWorkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>